.JumbotronModal {
    width:100vw;
    height: 100vh;
    background-color: black;
    position: absolute; 
    top: 0;
    left: 0;
    z-index:100;
    overflow: hidden;
}

.JumbotronModal div{
    font-size: 900%;
}

.JumbotronModal div:first-of-type {
    font-size: 1200%;
}

.ClientInfo {
    display: flex;
    justify-content: space-between;
}

.ClientInfo span:first-of-type{
    color:red;
    margin-left: 10%;
}

.ClientInfo span:last-of-type{
    color:white;
    margin-right: 10%;
}

.Arrow {
    color:white;
    margin:auto;
}

.CloseIcon {
    position: absolute;
    right:3%;
    top:0%;
    color:white;
    font-size: 500%;
    cursor: pointer;
}

@media (max-width:1700px){
    .JumbotronModal div{
        font-size: 750%;
    }
    
    .JumbotronModal div:first-of-type {
        font-size: 1000%;
    }

    .CloseIcon {
        font-size: 415%
    }
}

@media (max-width:780px){
    .JumbotronModal div{
        font-size: 450%;
    }
    
    .JumbotronModal div:first-of-type {
        font-size: 600%;
    }

    .CloseIcon {
        font-size: 250%
    }
}

@media (max-width:460px){
    .JumbotronModal div{
        font-size: 300%;
    }
    
    .JumbotronModal div:first-of-type {
        font-size: 400%;
    }

    .CloseIcon {
        font-size: 150%
    }
}

@media (max-width:320px){
    .JumbotronModal div{
        font-size: 150%;
    }
    
    .JumbotronModal div:first-of-type {
        font-size: 200%;
    }

    .CloseIcon {
        font-size: 75%
    }
}